.homePage {
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

.homeMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: start;
    padding: 2rem;
    height: 100%;
    max-width: 40%;
}

.homeMenu * {
    color: #4A362E;
}

.homeMenu a:first-of-type {
    max-width: 100%;
}

.homeMenu a img {
    max-width: 100%;
}

.welcomeMessage {
    padding-left: 2rem;
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 500;
}

.welcomeMessage span {
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.homeMenu div {
    padding: 0 2rem;
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.homeMenu div ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    list-style: none;
}

.homeMenu div ul li {
    text-decoration: none;
}

.contact {
    padding: 0.8rem 1.2rem;
    border-left: 1px solid black;
}

ul li.active a {
    font-weight: bold;
}

.homeGalleryContainer {
    position: absolute;
    right: 0;
    top: -20%;
    height: 120%;
    width: 70%;
    overflow: hidden;
    z-index: -1;
}

.homeGallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    transform: rotate(15deg);
}

.imageContainer img {
    border-radius: 15px;
    margin-top: 0.5rem;
}

.slick-slide {
    object-fit: contain;
}

.slider-container {
    margin-right: 0.5rem;
}

.mobile {
    display: none;
}

@media (max-width: 1200px) {

    .mobile {
        display: block;
        width: 100%;
    }

    .homeMenu .desktop {
        display: none;
    }

    .homeMenu {
        position: relative;
        justify-content: start;
        max-width: 90%;
        margin: auto;
        margin-top: 30px;
        gap: 30px;
        padding: 0;
        height: auto;
    }

    .welcomeMessage {
        padding-left: 0;
        font-size: 45px;
    }

    .verCursos {
        width: fit-content;
        background: none;
        border: 0.4px solid #000000;
        font-family: "Playfair Display", serif;
        font-size: 19px;
        font-weight: 500;
        padding: 0.2rem 0.5rem;
    }

    .homeGalleryContainer {
        margin-top: 30px;
        position: relative;
        width: 80%;
        height: 100%;
        z-index: -1;
        top: 0;
        margin-left: 25%;
        overflow: visible clip;
    }

    .homeGallery {
        margin-left: -20%;
        margin-top: 0;
        width: 130%;
    }

    .slider-container:nth-of-type(2) {
        margin-top: -15%;
    }
}

@media (max-width: 650px) {

    .mobile {
        display: block;
    }

    .homeMenu .desktop {
        display: none;
    }

    .homeMenu {
        position: relative;
        justify-content: start;
        max-width: 90%;
        margin: auto;
        gap: 30px;
        padding: 0;
        height: auto;
    }

    .welcomeMessage {
        padding-left: 0;
        font-size: 45px;
    }

    .verCursos {
        background: none;
        border: 0.4px solid #000000;
        font-family: "Playfair Display", serif;
        font-size: 19px;
        font-weight: 500;
        padding: 0.2rem 0.5rem;
    }

    .homeGalleryContainer {
        margin-top: 30px;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        margin-left: auto;
        overflow: hidden;
    }

    .homeGallery {
        margin-left: 5%;
        margin-top: -20%;
        width: 130%;
    }

    .slider-container:nth-of-type(2) {
        margin-top: auto;
    }

}