.homePage {
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

.homeMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: start;
    padding: 2rem;
    height: 100%;
    max-width: 40%;
}

.homeMenu * {
    color: #4A362E;
}

.homeMenu a:first-of-type {
    max-width: 100%;
}

.homeMenu a img {
    max-width: 100%;
    width: 20dvw;
}

.welcomeMessage {
    padding-left: 2rem;
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 500;
}

.welcomeMessage span {
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.homeMenu div {
    padding: 0 2rem;
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.homeMenu div ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    list-style: none;
}

.homeMenu div ul li {
    text-decoration: none;
}

.contact {
    padding: 0.8rem 1.2rem;
    border: none;
    border-left: 1px solid black;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}

ul li.active a {
    font-weight: bold;
}

.homeGalleryContainer {
    position: absolute;
    right: 0;
    top: -20%;
    height: 120%;
    width: 70%;
    overflow: hidden;
    z-index: -1;
}

.homeGallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    transform: rotate(15deg);
}

.imageContainer img {
    border-radius: 15px;
    margin-top: 0.5rem;
}

.slick-slide {
    object-fit: contain;
}

.slider-container {
    margin-right: 0.5rem;
}

.mobile {
    display: none;
}

@media (max-width: 1200px) {

    .mobile {
        display: block;
        width: 100%;
    }

    .homeMenu .desktop {
        display: none;
    }

    .homeMenu {
        position: relative;
        justify-content: start;
        max-width: 90%;
        margin: auto;
        margin-top: 30px;
        gap: 30px;
        padding: 0;
        height: auto;
    }

    .welcomeMessage {
        padding-left: 0;
        font-size: 45px;
    }

    .verCursos {
        width: fit-content;
        background: none;
        border: 0.4px solid #000000;
        font-family: "Playfair Display", serif;
        font-size: 19px;
        font-weight: 500;
        padding: 0.2rem 0.5rem;
    }

    .homeGalleryContainer {
        margin-top: 30px;
        position: relative;
        width: 80%;
        height: 100%;
        z-index: -1;
        top: 0;
        margin-left: 25%;
        overflow: visible clip;
    }

    .homeGallery {
        margin-left: -20%;
        margin-top: 0;
        width: 130%;
    }

    .slider-container:nth-of-type(2) {
        margin-top: -15%;
    }
}

@media (max-width: 650px) {

    .mobile {
        display: block;
    }

    .homeMenu .desktop {
        display: none;
    }

    .homeMenu {
        position: relative;
        justify-content: start;
        max-width: 90%;
        margin: auto;
        gap: 30px;
        padding: 0;
        height: auto;
    }

    .welcomeMessage {
        padding-left: 0;
        font-size: 45px;
    }

    .verCursos {
        background: none;
        border: 0.4px solid #000000;
        font-family: "Playfair Display", serif;
        font-size: 19px;
        font-weight: 500;
        padding: 0.2rem 0.5rem;
    }

    .homeGalleryContainer {
        margin-top: 30px;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        margin-left: auto;
        overflow: hidden;
    }

    .homeGallery {
        margin-left: 5%;
        margin-top: -20%;
        width: 130%;
    }

    .slider-container:nth-of-type(2) {
        margin-top: auto;
    }

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    max-width: 85%;
    width: 90%;
    height: 85%;
    overflow-y: auto;
    /* enables scroll inside modal */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.whatsapp-button-wrapper {
    text-align: center;
    margin: 20px auto 20px auto;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #E8DCD5;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 12px 20px;
    border-radius: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

.whatsapp-button:hover {
    background-color: #DCCFC7;
}

.whatsapp-button img {
    width: 48px;
    height: 48px;
}

.sucursales {
    background: #E8DCD5;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
}

.sucursalesTitle {
    width: 90%;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
}

.sucursalesContainer {
    width: 90%;
    margin: 30px auto;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 50px; */
}

.sucursal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sucursalLocalizacion {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.sucursalDirector {
    font-family: 'Lato', Courier, monospace;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .sucursalesContainer {
        width: 90%;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        row-gap: 30px;
    }

    .sucursal {
        width: 50%;
    }
}

@media (max-width: 650px) {

    .modal-content {
        max-width: 100%;
        width: 100%;
    }

    .sucursalesContainer {
        width: 90%;
        margin: 50px auto;
        display: flex;
        row-gap: 20px;
    }

    .sucursal {
        width: 100%;
    }
}