* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Courier, monospace;
  text-decoration: none;
  color: black;
}

body {
  background-color: #FAEEE7;
}

.backgroundDecoration {
  position: fixed;
  z-index: -1;
  height: 100%;
}

@media (max-width:650px) {

  .backgroundDecoration {
    position: fixed;
  }

}